
//**************************** Font Variables **********************************

$font-family--primary          : "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--secondary        : Arial, sans-serif;

//**** Values for Helvetica Neue found in https://www.cssfontstack.com/Helvetica
$font-weight--thin             : 100;
$font-weight--normal           : 400;
$font-weight--bold             : bold;

$font-size--btn                : 15px;
$font-size--primary            : 28px;
$font-size--secondary          : 16px;
$font-size--blackquote         : 22px;

//****************************** Color *****************************************

$white                         : #fff;
$grey                          : #C3C1BC;
$water-green                   : #60f7cf;
$on-blue                       : #23ddff;
$green                         : #10ba35;

$fountain-blue                 : #52bab3;
$emerald                       : #5ece7f;
$sunglo                        : #e67478;
$coral                         : #ff784f;
$purple-majesty                : #9279c3;
$scooter                       : #39add1;

$mauve                         : #DEA1FC;
$anakiwa                       : #92F0FC;
$mountainMeadow                : #1BB665;
$easternBlue                   : #1D84AF;
$fuzzyWuzzyBrown               : #C16157;
$zest                          : #DE761B;
$smithApple                    : lighten($mountainMeadow, 20%);

$color-text--base              : $grey;
$color-text--light             : lighen($grey, 20%);
$color-text--dark              : darken($grey, 20%);

$palettes: (
  grey: (
    xx-light                   : lighten($grey, 30%),
    x-light                    : lighten($grey, 20%),
    light                      : lighten($grey, 10%),
    base                       : $grey,
    dark                       : danken($grey, 10%),
    x-dark                     : darken($grey, 20%),
    xx-dark                    : darken($grey, 30%)
  ),
  black: (
    xx-light                   : lighten($grey, 30%),
    x-light                    : lighten($grey, 20%),
    light                      : lighten($grey, 10%),
    base                       : $grey,
    dark                       : danken($grey, 10%),
    x-dark                     : darken($grey, 20%),
    xx-dark                    : darken($grey, 30%)
  )
);

//********************************** Text **************************************

$base__font-size               : 16px;
$base__line-height             : 24px;


//********************************** Maps **************************************

$ui-colors: (
  default                      : $on-blue,
  success                      : $emerald,
  error                        : $sunglo,
  warning                      : $coral,
  info                         : $purple-majesty
);

$grid-colors: (
  3                      : $mauve,
  4                      : $anakiwa,
  5                      : $mountainMeadow,
  6                      : $easternBlue,
  7                      : $fuzzyWuzzyBrown,
  8                      : $zest,
  12                     : $smithApple
);
