
//**************************      Buttons      *********************************

//*************************************************** Create btn--colors classes
.btn {
  @include bg-colors($ui-colors);
}

//*************************************************************** Format bottons
[class^="btn"] {
  @extend %text-btn;
  width: 100%;
  border-radius: 5px;
  padding: 12px 0;
  margin: 10px 0;
}
