
//*****************************      Grid      *********************************



//********************************************************************* Flex-Box
.container {
  @extend .centered;
  margin: auto;
  width: 90%;
  @media (min-width: 600px) {
    width: 70%;
  };
}

.grid {
  @include e(row) {                                                       // row
    @extend .centered;
    display: flex;
    //width: 100%;                    changed with flex-grow: 1;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 600px) {
      flex-direction: row;
    };
  };

  @include e(col) {
    @for $i from 1 through 12 {
      @include m($i) {                                                 // colomn
        @extend .centered;
        width: 100%;                                //changed from flex-grow: 1;
        display: flex;
        &.theme__colors {         // Select class grid__col--n and theme__colors
          background-color: map-get($grid-colors, $i);
          padding: 14px;
          margin-bottom: 5px;
          border-radius: 3px;
          @media (min-width: 600px) {
            margin: 20px 3px;
          }
          &:last-of-type {
            margin-bottom: 20px;
            }
        }

        @media (min-width: 600px) {
          width: percentage($i/12);
        };
      };
    };
  };
}


.grid__col--12 {                                          //container of buttons
  flex-direction: column;
  @media (min-width: 600px) {
    flex-direction: row;
  };
}

.theme__colors [class^="grid"] {
  background-color: blue;
}
