
//*****************************      Grid      *********************************



//*****************************     Flex Box     *******************************

.container {
  @extend .centered;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.grid {
  @include e(row) {                                    // row
    @extend .centered;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  };

  @include e(col) {
    @for $i from 1 through 12 {
      @include m($i) {                                // colomn
        @extend .centered;
        width: 100%;
        @media (min-width: 350px) {
          flex-basis: pencentage($i * 8.33333);
        };
      };
    };
  };
}
