
//******************************** Images **************************************

.img {

  @include m(frame) {
    @extend .centered;
    max-width: 100%;
    border: 1px solid $grey;
    padding: 12px;
  }

  @include m(avatar) {
    @extend .centered;
    border-radius: 50%;
    .form > & {
      @media (min-width: 600px) {
        margin-left: 10px;
      }
    }
  }
}
