
//******************************** Images **************************************

.img {

  @include m(frame) {
    @extend .centered;
    max-width: 100%;
    border: 1px solid $grey;
    padding: 12px;
  }

  @include m(avatar) {
    @extend .centered;
    border-radius: 50%;
    margin: 20px auto 10px;
  }

  @include m(logo) {
    @extend .centered;
    width: 200px;
    @media (min-width: 600px) {
      width: 100%;
    }
  }
}
