
//*************************      Navigation      *******************************

//******************************************************* Styles navigation menu
.grid__col--3 {                               // img navigation
  & a {
    margin: 20px auto;
  }
}

nav {
  width: 100%;
}

.nav {
  @include flex(column);
  margin: 0;                              // to remove indentation for bullettes
  padding: 0;                             // to remove indentation for bullettes
  list-style-type: none;                           // remove bullettes from list
  width: 100%;
  @include query($small-break) {
    @include flex(row);
    justify-content: flex-end;
  };

  @include e(item) {
    color: $color-text--light;
    font-size: 1.125em;
    font-weight: $font-weight--normal;
    text-align: center;
    width: 100%;
    @include query($small-break) {
      width: 100px;
    }

    a {
      @extend %nav-item-link;
      color: $grey;
      width: 100%;

      &:hover {
        @extend %nav-item-on;
      }
    }
  }
}
