
//*************************      Navigation      *******************************

.nav {
  display: flex;
  flex-direction: column;
  margin: 0; // to remove indentation for bullettes
  padding: 0; // to remove indentation for bullettes
  list-style-type: none; // remove bullettes from list
  @include e(item) {
    color: $color-text--light;
    font-size: 1.125em;
    font-weight: $font-weight--normal;
    text-align: center;
    a {
      @extend %nav-item-link;
      color: $grey;
      &:hover {
        @extend %nav-item-on;
      }
    }
  }
}


.img--logo {
  width: 150px;
  padding: 20px;
}
