
//***********************      Divs      **********************************
.container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}

.grid__row {
  display: flex;
  flex-direction: column;
}

.grid__col--3 {
  align-self: center;
}
