
//***********************      Form      **********************************

.form {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include query($small-break) {
    margin-left: 40px;
  }
  @include e(input) {
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-bottom: solid $water-green 5px;
    font-size: 18px;
  };
  @include e(label) {
    display: block;
    @include m(hidden) {
      @extend .srt;
    };
  }
}

.form .img--avatar {
  padding: 20px;
  align-self: center;
}
