
//***********************      Texts      **********************************

.card p {
  font-family: $font-family--primary;
  weight: $font-weight--normal;
  padding: 70px 0;
  line-height: 1.5;
  color: gray;
}

.headline {
  @include m(primary) {
    @extend %headline-prim;
  };
  @include m(secondary) {
    @extend %headline-sec;
  };
}

.card p {
  font-family: $font-family--primary;
  weight: $font-weight--normal;
  padding: 30px 0 20px;
  line-height: 1.5;
  color: gray;
}

.blockquote {
  padding-left: 20px;
  border-left: solid $water-green 6px;
  font-family: $font-family--primary;
  weight: $font-weight--thin;
  color: darken($grey, 20%);
  font-style: italic;
  line-height: 1.2;
  font-size: $font-size--blackquote;
}
